#logo {
  margin-right: 8px;
}

[data-bs-theme="dark"] {
  body {
    background-color: black;
  }

  header,
  footer {
    background-color: var(--bs-body-bg);
  }
}

form.icons div.dropdown,
#toc,
.toc-offcanvas,
.actionbar {
  display: none !important;
}

article {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
